.DS_Store
*.txt 
*.zip
/temp
/user_guide
error_log
/application/config/*
/application/cache/*
!application/cache/index.html
.htaccess
/system
/libraries
/application/core
/application/hooks
/application/logs
/application/language

application/logs/*
!application/logs/index.html

!application/*/.htaccess

composer.lock

user_guide_src/build/*
user_guide_src/cilexer/build/*
user_guide_src/cilexer/dist/*
user_guide_src/cilexer/pycilexer.egg-info/*
/vendor/

# IDE Files
#-------------------------
/nbproject/
.idea/*

## Sublime Text cache files
*.tmlanguage.cache
*.tmPreferences.cache
*.stTheme.cache
*.sublime-workspace
*.sublime-project
/tests/tests/
/tests/results/
